body {
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}
*,
:focus,
:active,
:hover {
    outline: none;
}
table {
    border-collapse: collapse;
}
table td {
    width: 54px;
    height: 54px;
    font-size: 40px;
    color: red;
    text-align: center;
    border: 1px solid #000;
}
label {
    display: block;
    height: 100%;
}
input {
    display: none;
}
span {
    display: none;
}
input:checked + span {
    display: inline;
}