p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, verdana
}
.text1 {
    font-family: 'Franklin Gothic Medium', sans-serif;
}
.text2 {
    font-family: 'Arial Narrow', sans-serif;
}
.text3 {
    font-family: Arial, sans-serif;
}
.text4 {
    font-family: verdana, sans-serif;
}
.text5 {
    font-family: tahoma, sans-serif;
}
.text6 {
    font-family: 'Times New Roman', sans-serif;
}