* {
    box-sizing: border-box;
    outline:none;
}
body {
    margin: 0;
    font-family: 'Proxima Nova Rg', Arial, sans-serif;
    font-size: 13px;
    background-color: #F9F9F9;
}
a,
a:hover,
a:focus,
a:active,
a:visited {
    color: inherit;
    text-decoration: none;
}

/********** vertical-menu **********/
.vertical-menu {
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.vertical-menu > li {
    display: flex;
    align-items: center;
    padding: 6px 21px;
    color: #78829d;
    background-color: #1f2637;
}
.vertical-menu > li i {
    margin-right: 10px;
    font-family: 'FontAwesome';
    font-size: 14px;
    line-height: 14px;
}
.vertical-menu > li span {
    font-family: 'Proxima Nova Rg', Arial, sans-serif;
    font-size: 13px;
    line-height: 26px;
    color: #78829d;
}
.vertical-menu > li:hover {
    color: #fff;
    background-color: #15a4fa;
    cursor: pointer;
}
.vertical-menu > li:hover span {
    color: #fff;
}

/********** header **********/
.page-top {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    width: 100%;
    height: 45px;
    color: #78829d;
    background-color: #2f364a;
    z-index: 10;
}
.toplinks > ul {
    display: flex;
    align-items: center;
    height: 100%;
    margin: 0 19px;
    color: #19202e;
}
.toplinks > ul li {
    margin-left: 30px;
}
.toplinks > ul li:first-child {
    list-style-type: none;
    margin: 0;
}
.toplinks > ul a {
    color: #78829d;
}
.toplinks > ul li a:hover {
    color: #fff;
}
.profile {
    display: block;
    position: relative;
}
.profile-user {
    display: flex;
    align-items: center;
    padding: 6px 21px 7px 12px;
}
.profile:hover .profile-user {
    color: #fff;
    background-color: #15a4fa;
    cursor: pointer;
}
.profile-userpic {
    width: 32px;
    height: 32px;
    border: 2px solid #eef1f7;
    border-radius: 50%;
    overflow: hidden;
}
.profile-userpic {
    border: 2px solid #eef1f7;
    border-radius: 50%;
}
.profile-username {
    padding: 0 16px 0 10px;
}
.profile:hover .profile-user i {
    transform: rotate(180deg);
}
.profile > ul {
    display: none;
    border-radius: 0 0 0 5px;
    overflow: hidden;
}
.profile:hover > ul {
    display: block;
}

/********** sidebar **********/
.sidebar {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    position: fixed;
    top: 45px;
    bottom: 45px;
    width: 200px;
    background-color: #19202E;
    
}
.sidebar aside {
    margin-bottom: 4px;
    background-color: #1F2637;
    border-top: 1px solid #282F41;
    border-bottom: 1px solid #141824;
}
.sidebar aside:first-child {
    border-top: none;
}
.sidebar aside:last-child {
    margin-bottom: 0;
    border-bottom: none;
}
.button-addbook {
    display: flex;
    align-items: center;
    width: 160px;
    height: 45px;
    margin: 35px auto;
    padding: 18px 0 16px;
    line-height: 26px;
    color: #fff;
    text-transform: uppercase;
    background-color: #f2795a;
    border-radius: 4px;
}
.button-addbook i {
    padding: 0 18px;
    font-size: 16px;
}
.button-addbook span {
    font-size: 14px;
    font-weight: 600;
}
.button-addbook:hover {
    color: #fff;
    background-color: #df5e3e;
}
.books-menu {
    padding-bottom: 12px;
}
.genres-menu {
    list-style-type: disc;
    list-style-position: inside;
    padding: 16px 0 13px;
}
.genres-menu li {
    display: list-item;
    padding: 6px 15px 6px 25px;
    font-size: 18px;
}
.genres-menu li:nth-child(1) {color: #e64c66;}
.genres-menu li:nth-child(2) {color: #ffab00;}
.genres-menu li:nth-child(3) {color: #00bfdd;}
.genres-menu li:nth-child(4) {color: #7874cf;}
.genres-menu li:hover {color: #fff;}

/********** content **********/
main {
    position: fixed;
    top: 45px;
    right: 0;
    bottom: 45px;
    left: 200px;
    overflow-y: auto;
}

/********** footer **********/
.page-bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 45px;
    background-color: #181E2C;
    overflow: hidden;
}
.page-bottom ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
}