img {
    display: block;
    width: 320px;
    height: 320px;
    margin: 30px auto;
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    animation: masking 3s linear infinite;
    -webkit-clip-path: none;
    clip-path: none;
    -webkit-mask-image: none;
    mask-image: none;
}
@keyframes masking {
    33% {
        -webkit-clip-path: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);
        -webkit-mask-image: none;
        mask-image: none;
    } 
    66% {
        -webkit-clip-path: none;
        clip-path: none;
        -webkit-mask-image: url(task-01-star.png);
        mask-image: url(task-01-star.png);
    }
}