* {
    box-sizing: border-box;
}
.animation {
    width: 50%;
    margin: 70px auto;
    overflow: hidden;
}
.loader {
    position: relative;
    width: 32px;
    height: 32px;
    margin: 0 auto;
    border-top: 3px solid #bbb;
    border-right: 3px solid #bbb;
    border-bottom: 3px solid #bbb;
    border-left: 3px solid #ddd;
    border-radius: 50%;
    transform: rotate(0deg);
    animation: loader 0.5s linear infinite;
}
@keyframes loader {
    0% {
        transform: rotate(0deg);
    } 
    100% {
        transform: rotate(360deg);
    } 
}
.block {
    float: left;
    width: 20px;
    height: 80px;
    background-color: #69f;
}
.block:last-child {
    float: right;
}
.ball {
    float: left;
    width: 30px;
    height: 30px;
    margin: 20px 0 20px 0%;
    border-radius: 50%;
    background-color: #f96;
    animation: ball 1.5s linear alternate infinite;
}
@keyframes ball {
    0% {
        margin: 20px 0 20px 0%;
    }
    100% {
        margin: 20px 0 20px calc(100% - 70px);
    }
}
.shape {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 50px auto;
    background: linear-gradient(220deg, rgba(183, 0, 255, 0.8), rgba(183, 0, 255, 0) 70%),
                linear-gradient(130deg, rgba(0, 255, 0, 0.8), rgba(0, 255, 0, 0) 70%),
                linear-gradient(340deg, rgba(0, 0, 255, 0.8), rgba(0, 0, 255, 0) 70%);
    overflow: hidden;
    border-radius: 50%;
    animation: shape 5s linear infinite;
}
@keyframes shape {
    0% {
        background: linear-gradient(220deg, rgba(183, 0, 255, 0.8), rgba(183, 0, 255, 0) 70%),
                linear-gradient(130deg, rgba(0, 255, 0, 0.8), rgba(0, 255, 0, 0) 70%),
                linear-gradient(340deg, rgba(0, 0, 255, 0.8), rgba(0, 0, 255, 0) 70%);
        border-radius: 50%;
        transform: scale(1, 1);
    }
    20% {
        background: linear-gradient(220deg, rgba(183, 0, 255, 0.8), rgba(183, 0, 255, 0) 70%),
                linear-gradient(130deg, rgba(0, 255, 0, 0.8), rgba(0, 255, 0, 0) 70%),
                linear-gradient(340deg, rgba(0, 0, 255, 0.8), rgba(0, 0, 255, 0) 70%);
        border-radius: 0%;
        transform: scale(1, 1);
    }
    40% {
        background: radial-gradient(closest-side, rgb(218, 214, 67), rgb(226, 100, 123), rgb(106, 185, 222));
        border-radius: 0%;
        transform: scale(1, 1);
    }
    60% {
        background: radial-gradient(closest-side, rgb(218, 214, 67), rgb(226, 100, 123), rgb(106, 185, 222));
        border-radius: 0%;
        transform: scale(1.5, 0.2);
    }
    80% {
        background: radial-gradient(closest-side, rgb(218, 214, 67), rgb(226, 100, 123), rgb(106, 185, 222));
        border-radius: 0%;
        transform: rotate(360deg);
    }
    100% {
        background: linear-gradient(220deg, rgba(183, 0, 255, 0.8), rgba(183, 0, 255, 0) 70%),
                    linear-gradient(130deg, rgba(0, 255, 0, 0.8), rgba(0, 255, 0, 0) 70%),
                    linear-gradient(340deg, rgba(0, 0, 255, 0.8), rgba(0, 0, 255, 0) 70%);
        border-radius: 50%;
        transform: rotate(0deg);
    } 
}